html, body {
  height: 100%;
  margin: 0;
  background: transparent;
  overflow: hidden;
}
#chat {
  font-family: Arial, sans-serif;
  font-size: 1.2em;
  color: white;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  background: transparent;
}
.message {
  margin: 0.2em 0;
  text-shadow: 1px 1px 2px #000;
}
.username {
  font-weight: bold;
  color: #9147ff;
}